.home-container {
  height: 100vh; /* full screen */
  display: flex;
  align-items: center;   /* vertical center */
  justify-content: center; /* horizontal center */
  padding: 0 20px;
}

.home-title {
  max-width: 900px;
  text-align: center;
}

.home-title h1 {
  font-size: 36px;
  font-weight: 600;
  line-height: 1.4;
}

/* Tablet */
@media (max-width: 992px) {
  .home-title h1 {
    font-size: 28px;
  }
}

/* Mobile */
@media (max-width: 576px) {
  .home-title h1 {
    font-size: 22px;
  }
}
