.navbar {
  width: 100%;
  border-bottom: 1px solid #ddd;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar-container {
  max-width: 1200px;
  margin: auto;
  padding: 16px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #00629b;
  font-size: 20px;
  font-weight: bold;
}

/* Desktop Menu */
.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links li {
  cursor: pointer;
  font-size: 15px;
}

.nav-links li:hover {
  color: #00629b;
}

/* Hamburger hidden on desktop */
.hamburger {
  display: none;
  font-size: 26px;
  cursor: pointer;
}

/* MOBILE VIEW */
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .nav-links {
    position: absolute;
    top: 65px;
    left: 0;
    width: 100%;
    background-color: white;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
    display: none;
    border-bottom: 1px solid #ddd;
  }

  .nav-links.active {
    display: flex;
  }
}
